.move_you_1{
    margin-left:130px;
}
.move_you_2{
    margin-left:-30px;
}
.panel-title {
    color:white;
}
.move_you_3{
    margin-left:100px;
}

.move_you_4 {
    margin-top: 60px!important;
}

.house_begin {
    margin-left:220px;
}
